*{
    box-sizing:border-box;
    margin:0;
  }
  
  .header {
    padding: 30px 0 30px 0;
    background: #343a40;
    color:white ;
    text-align:center;
  }
  
  .header__h1 {
    display: inline;
    margin-left:15px;
    font-weight: 300;
    color: white;
  }


select {
  background-color: #343a40;
  color: #fff;
  height: 32px;
  width: 70px;
  position: relative;
  top: -2px;
}