* {
    box-sizing: border-box;
  }



  .row {
    content: "";
    display: table;
    clear: both;
  }

  .card bg-dark text-white {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 130px;
    padding: 10px;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px; 
 }


.desc h2 {
    font-size: 1em;    
    font-weight: 400;
}
.desc h3, p {
    font-weight: 300;
}

.desc h3 {
    color: #6c757d;
    font-size: 1em;
    padding: 10px 0 10px 0;
    padding: 20px
}

.desc p {
    color: #6c757d;
    
}


img {
    
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn{   
      width: 100%;
      padding: 0;
    }
}